* {
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 17px;
  box-sizing: border-box;
}

.misi-small {
  display: none;
}

.highlight span {
  position: relative;
  z-index: 3;
}

.highlight span:after {
  border-radius: 0.5em;
  background-color: #fff3d9;
  content: "";
  height: 30%;
  position: absolute;
  left: 0px;
  margin-left: -0.2em;
  top: 60%;
  width: calc(100% + 0.4em);
  z-index: -1;
}

/* PROFILE */

.profile-title h3 span {
  font-weight: 600;
  font-size: 60px;
}

.profile-title {
  text-align: center;
}

.prof-desc {
  position: relative;
  height: 380px;
  display: flex;
  background: url(../Assets/about/prof-ban.svg) no-repeat;
  background-size: cover;
}

@media screen and (max-width:767px) {
  .prof-desc {
    display: none;
  }
}

.left-ban img {
  position: absolute;
  left: 300px;
  bottom: 30px;
  width: 15%;
  height: auto;
}

.right-ban {
  padding-top: 10%;
  text-align: end;
  color: white;
}

/* VISI */

.visi-div {
  color: #fff3d9;
  margin-top: 50px;
  margin-bottom: 50px;
}

.visi-title {
  color: #323232;
  padding: 0;
  margin-bottom: -50px;
  text-align: center;
  font-weight: 800;
  font-size: 80px;
}

.visi {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-top: 40px;
  background-color: #323232;
}

.visi-title-2 {
  color: #fff3d9;
  padding: 0;
  margin-top: -86px;
  text-align: center;
  font-weight: 800;
  font-size: 80px;
}

.visi-desc {
  font-weight: 600px;
  font-size: 1.5em;
  text-align: center;
}

/* MISI */

.misi-title {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
}

h3 {
  font-weight: 800;
  padding: 10px;
}

.misi {
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.misi div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 230px;
  height: 455.5px;
}

.misi-1 {
  background: url("../Assets/about/misi-1.svg") no-repeat;
  background-size: cover;
}

.misi-1-text {
  font-size: 25px;
  line-height: 1.4;
  color: white;
}

.misi-1-num {
  font-size: 50px;
  color: white;
}

.misi-2 {
  background: url("../Assets/about/misi-2.svg") no-repeat;
  background-size: cover;
}

.misi-2-text {
  font-size: 25px;
  color: #333333;
}

.misi-2-num {
  font-size: 50px;
  color: #333333;
}

.misi-3 {
  background: url("../Assets/about/misi-3.svg") no-repeat;
  background-size: cover;
}

.misi-3-text {
  font-size: 25px;
  color: white;
}

.misi-3-num {
  font-size: 50px;
  color: white;
}

.misi-4 {
  background: url("../Assets/about/misi-4.svg") no-repeat;
  background-size: cover;
}

.misi-4-text {
  font-size: 21px;
  line-height: 1.8;
  color: #dae3e5;
}

.misi-4-num {
  font-size: 50px;
  color: #dae3e5;
}

.misi-5 {
  background: url("../Assets/about/misi-5.svg") no-repeat;
  background-size: cover;
}

.misi-5-text {
  font-size: 25px;
  color: #353535;
}

.misi-5-num {
  font-size: 50px;
  color: #353535;
}

@media screen and (max-width: 784px) {
  .misi {
    display: none;
  }

  .misi-small {
    display: block;
    align-items: center;
  }

  .carousel-container {
    width: 200px;
    height: 395px;
  }

  .carousel-item .misi-1-text {
    display: table;
    font-size: 17px;
    margin-left: -3px;
    text-align: center;
  }

  .carousel-item .misi-2-text {
    display: table;
    font-size: 17px;
    margin-left: -12px;
    padding-top: 12px;
    text-align: center;
  }

  .carousel-item .misi-3-text {
    display: table;
    font-size: 17px;
  }

  .carousel-item .misi-4-text {
    font-size: 17px;
    margin-left: -5px;
  }

  .carousel-item .misi-5-text {
    font-size: 17px;
    margin-left: -5px;
  }

  .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .misi-car-title {
    text-align: center;
  }

  .misi-car-num {
    text-align: center;
  }
}
