*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

div.container-xxl {
    padding: 1em 2em;
}

/* ===== CAREER TITLE ===== */

.ashenzhen-title {
    color: #2c2c2c;
    text-align: center;
}

.ashenzhen-title h3 span{
    font-weight: 600;
    font-size: 60px;
}

.highlight span {
    position: relative;
    z-index: 3;
}

  
.highlight span:after {
    border-radius: 0.5em;
    background-color: #fff3d9;
    content: "";
    height: 30%;
    position: absolute;
    left: 0px;
    margin-left: -0.2em;
    top: 60%;
    width: calc(100% + 0.4em);
    z-index: -1;
}

.shenzhen-image{
    margin-top: 6vh;
}

.shenzhen-text p{
    margin-top: 3vh;
    margin-left: 1vw;
    font-size: 18px;
    text-align: justify;
}

/* === Universities === */

.universities-title {
    color: #2c2c2c;
    text-align: center;
    margin-top: 8vh;
}

.universities-title h3 span{
    font-weight: 600;
    font-size: 60px;
}

.section-uni{
    margin-top: 3vh;
    background-color: #efefef;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.row{
    margin-top: 6vh;
}

.container{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.container h3{
    margin-top: 3vh;
    margin-left: 2vh;
    font-weight: 700;
    font-size: 26px;
}

.container h5{
    margin: 2vh;
    font-size: 20px;
    font-weight: 500;
}

.container p{
    margin: 2vh;
    margin-top: 1vh;
    line-height: 30px;
}

.uni-btn{
    margin-left: 2vh;
    margin-top: 2vh;
    background-color: #d62023;
    border-radius: 15px;
    padding: 8px 35px;
    font-size: 18px;
    font-weight: 300;
    box-shadow: 4px 4px 58px rgba(0,0,0,0.12);
    transition: transform .2s;
    max-width: fit-content;
}

.uni-btn a {
    color: rgb(231, 229, 229);
}

.uni-btn:hover{
    transform: scale(1.1);
}

.uni-btn a:hover{
    color: whitesmoke;
}

@media screen and (max-width:767px){
    .ashenzhen-title h3 span{
        font-size: 40px;
    }  
    .shenzhen-text p{
        font-size: 16px;
    }
    .universities-title h3 span{
        font-size: 40px;
    }
    .highlight span:after{
        display: none;
    }
    .container h3{
        font-size: 20px;
    }
    .container h5{
        font-size: 16px;
    }
    .container p{
        font-size: 14px;
    }
    .uni-btn a{
        font-size: 14px;
    }

}

/* Entertainment */

.entertainment {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

#entertainmentPhone {
    background-color: white;
    box-shadow: 0px 4px 20px 10px rgba(0,0,0,0.15);
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#entertainmentPhoneDisplay {
    background-color: #fff3d9;
    margin: auto;
    margin-bottom: 1.6em;
    height: 475px;
    width: 95%;
    border-radius: 1em 1em 0em 0em;
}

.fas {
    font-size: 50px;
    margin: 0 40px;
}

/* TRANSACTION */
.section-trans p {
    font-family: Poppins;
    font-weight: 400;
    text-align: center;
    line-height: 1.9;
}

.trans-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#wechat {
    background-color: #efefef;
    margin: 0 20px;
    width: fit-content;
    border-radius: 20px;

}

#wechat img {
    width: 200px;
}

#alipay {
    background-color: #efefef;
    margin: 0 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

#alipay img {
    width: 200px;
}