* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

footer {
  background-color: #323232;
  margin: 0px;
}

footer .row {
  margin: 0px;
}

footer ul {
  color: #c2c2c2;
}

footer h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
}

.top-footer {
  padding: 2em;
}

.bottom-footer {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}

.bottom-footer p {
  font-size: 0.8em;
  color: #9e9e9e;
  margin-top: 1.5em;
  line-height: 2em;
}

.footer-link .footer-more-info .nav-item:hover a{
  color: whitesmoke !important;
}

footer .contact-banner {
  display: flex;
  text-align: center;
  border: 2px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0.6em;
  
}

footer .contact-banner h2 {
  font-size: 14px;
  margin-bottom: -0.2em;
}

footer .contact-banner i {
  margin-right: 0.3em;
}

footer .li-whatsapp:hover,
footer .li-whatsapp:hover h2,
footer .li-whatsapp:hover i {
  color: white;
  background-color: #25d366;
  border-color: #25d366;
}

footer .li-email:hover h2,
footer .li-email:hover,
footer .li-email:hover i {
  background-color: #ed254e;
  border-color: #ed254e;
  color: white;
}

footer .contact-us-ul a {
  text-decoration: none;
}

footer .social-links a {
  font-size: 24px;
  display: inline-block;
  background: #000000;
  line-height: 1;
  padding: 13px 0;
  border-radius: 50%;
  margin: 0px 5px 8px 0px;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  text-decoration: none;
}

footer .social-links a:last-of-type {
  margin: 0px;
}

footer .social-links .icon-lin:hover {
  background-color: #0077b5;
  text-decoration: none;
}

footer .social-links .icon-fb:hover {
  background-color: #177bf2;
  text-decoration: none;
}

footer .social-links .icon-yt:hover {
  background-color: #e62117;
  text-decoration: none;
}

footer .social-links .icon-dc:hover {
  background-color: #7289da;
  text-decoration: none;
}

footer .social-links .icon-ig {
  transition: 0.3s;
}

footer .social-links .icon-ig:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  text-decoration: none;
}

footer .social-links a:hover i {
  color: white;
}

footer i {
  color: #a9a9a9;
}

footer .discord {
  filter: invert(73%) sepia(1%) saturate(0%) hue-rotate(209deg) brightness(93%) contrast(89%);
}

footer .icon-circle {
  margin: 0 10px;
}

footer .more-info li a:hover {
  color: white;
}

footer #tuantuan img {
  width: 80%;
}

@media (max-width: 1279px) {
  #footer-informationSection {
    margin-right: 1em;
  }
}

@media (max-width: 767px) {
  footer #tuantuan {
    margin: auto 0px;
  }

  footer #tuantuan img{
    width: 80%;
  }

}

