*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

div.container-xxl {
    padding: 1em 2em;
}

/*=========== Hero ============*/

#hero {
    margin-top: 5em;
}

#hero .hero-section h1 span{
    font-size: 120px;
    font-weight: 600;
}

#hero .hero-section h5{
    letter-spacing: 0.13em;
    color: #2E2E2E;
    font-size: 23px;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
}

#hero .hero-section h1 span {
    position: relative;
    z-index: 3;
}
  
#hero .hero-section h1 span:after {
    border-radius: 0.5em;
    background-color: #fff3d9;
    content: "";
    height: 30%;
    position: absolute;
    left: 0px;
    margin-left: -0.2em;
    top: 60%;
    width: calc(100% + 0.4em);
    z-index: -1;
}

#hero .hero-section .btn{
    background-color: #EC2429;
    color: white;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 767px){
    #hero{
        text-align: center;
        margin-top: 5em;
    }
    
    #hero .hero-section h1 span{
        font-size: 75px;
        font-weight: 600;
    }
}

/* =========== Profile =========== */

#profile h3 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 45px;
    font-weight: 600;
}

#profile .profile-section p{
    font-size: 20px;
    font-weight: 300;
    max-width: 86%;
    margin: auto;
}

/* Activities */

#activities{
    margin-top: 7em;
    position: relative;
}

#redribbon {
    position: absolute;
    background-color: red;
    height: 70%;
    width: calc(100vw - (-10px));
    z-index: -10;
    margin-top: 5%;
    left: -17px;
}

#activitiesTitle {
    font-size: 45px;
    font-weight: 600;
}

#activitiesHeadline {
    font-size: 35px;
    font-weight: 600;
}

#activitiesText {
    max-width: 70%;
}

#activitiesInfoCol {
    background-color: white;
    padding: 3em 4em;
}

#activitiesPhone {
    background-color: white;
    box-shadow: 0px 4px 20px 10px rgba(0,0,0,0.15);
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#activitiesPhoneDisplay {
    background-color: #fff3d9;
    margin: auto;
    margin-bottom: 1.6em;
    height: 475px;
    width: 95%;
    border-radius: 1em 1em 0em 0em;
}

.fas {
    font-size: 50px;
    margin: 0 40px;
}

#footerIframe {
    display: block;
}

/* Merchandise */

#merchandiseText h3 {
font-weight: 600;
font-size: 45px;
text-align: center;
}

#sizeChartRow {
    box-shadow: 0px 4px 20px 10px rgba(0,0,0,0.15);
}

#sizeChartRow .col {
    padding: 0px;
}