*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

div.container-xxl {
    padding: 1em 2em;
}

/*=========== Hero ============*/

#hero {
    margin-top: 5em;
}

#hero .hero-section h1 span{
    font-size: 120px;
    font-weight: 600;
}

#hero .hero-section h5{
    letter-spacing: 0.13em;
    color: #2E2E2E;
    font-size: 23px;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 27em;
}

.highlight span {
    position: relative;
    z-index: 3;
}
  
.highlight span:after {
    border-radius: 0.5em;
    background-color: #fff3d9;
    content: "";
    height: 30%;
    position: absolute;
    left: 0px;
    margin-left: -0.2em;
    top: 60%;
    width: calc(100% + 0.4em);
    z-index: -1;
}

#hero .hero-section .btn{
    background-color: #EC2429;
    color: white;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 767px){
    #hero{
        text-align: center;
        margin-top: 5em;
    }
    
    #hero .hero-section h1 span{
        font-size: 15vw;
        font-weight: 600;
    }

    #hero .hero-section h5 {
        font-size: 20px;
    }
}

/* =========== Profile =========== */

#profile h3 span {
    position: relative;
    z-index: 3;
    font-size: 45px;
    font-weight: 600;
}
  
#profile h3 span:after {
    border-radius: 0.5em;
    background-color: #fff3d9;
    content: "";
    height: 20%;
    position: absolute;
    left: 0px;
    top: 60%;
    margin-left: -0.2em;
    width: calc(100% + 0.4em);
    z-index: -1;
}

#profile h3 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 45px;
    font-weight: 600;
}

#profile .profile-section p{
    font-size: 20px;
    font-weight: 300;
    max-width: 86%;
    margin: auto;
}

/* @media screen and (max-width: 991px) {
    #profile-title-container {
        justify-content: center;
    }
    #profile h3 span{
        display: inline-block;
        width:90vw;
        height: 30vw;
    }   
} */

@media screen and (max-width: 767px) {
    #profile h3 span{
        font-size: 45px;
    }

    #profile h3 span:after{
        width: calc(100% + 0.4em);
        margin-top: 25px;
    }
}

/* =========== Activities =========== */

#activities{
    margin-top: 7em;
    position: relative;
}

.redribbon {
    position: absolute;
    background-color: red;
    height: 70%;
    width: calc(100vw - (-10px));
    z-index: -10;
    margin-top: 5%;
    left: -17px;
}

#activitiesTitle span{
    font-size: 45px;
    font-weight: 600;
}

#activitiesHeadline {
    font-size: 35px;
    font-weight: 600;
}

#activitiesText {
    max-width: 70%;
}

#activitiesInfoCol {
    background-color: white;
    padding: 3em 4em;
}

#activitiesPhone {
    background-color: white;
    box-shadow: 0px 4px 20px 10px rgba(0,0,0,0.15);
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#activitiesPhoneDisplay {
    background-color: #fff3d9;
    margin: auto;
    margin-bottom: 1.6em;
    height: 475px;
    width: 95%;
    border-radius: 1em 1em 0em 0em;
}

.fas {
    font-size: 50px;
    margin: 0 40px;
}

#footerIframe {
    display: block;
}

@media screen and (max-width: 991px) {
    #activitiesTitleMobile {
        text-align: center;
        background-color: white;
    }

    #activitiesTitleMobile span{
        font-size: 45px;
        font-weight: 600;
    }

    #activitiesPhone {
        width: 306.5px;
    }

    #activities .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #activitiesInfoCol {
        order: 1;
    }
    #activitiesPhone {
        order: 2;
    }
    
    #activitiesInfoCol {
        padding: 2em 1em;
    }

    #activitiesText {
        margin: auto;
    }

}

@media screen and (max-width:767px) {
    #activitiesHeadline {
        font-size: 20px;
        font-weight: 600;
    }
}

/* Merchandise */

#merchandiseText {
    color: #2c2c2c;
    text-align: center;
    margin: 4em auto;
}

#merchandiseText h3 span {
    font-weight: 600;
    font-size: 75px;
}

#merchandiseImage {
    margin-left: -5em;
    margin-top: -2em;
}

#sizeChartRow {
    box-shadow: 0px 4px 20px 10px rgba(0,0,0,0.15);
    border-radius: 0px 15px 15px 0px;
    border-left: 3px solid #EC2429;
    padding: 2.5em;
    z-index: 10;
}

#sizeChartRow .col, #materialChartRow .row {
    padding: 0px;
}

.chartTitle {
    font-size: 20px;
}

#materialChartRow {
    box-shadow: 0px 4px 20px 10px rgba(0,0,0,0.15);
    border-radius: 0px 15px 15px 0px;
    border-left: 3px solid #2C2C2C;
    padding: 2.5em;
}

#merchandiseDesignArea {
    position: relative;
}

.circle{
    position: absolute;
    background-color: #fff3d9;
    border-radius: 50%;
    display: inline-block;
}

.circle1 {
    height: 120px;
    width: 120px;
    left: -180px;
    top: 65%;
}

.circle2 {
    height: 130px;
    width: 130px;
    left: 80%;
    top: 0%;
  
}

@media screen and (max-width: 767px) {

    #merchandiseText h3 span{
        font-size: 12vw;
        text-align: center;
    }
    .circle{ 
        display: none;
    }
    /* #sizeChartRow{
        display: none;
    }
    #materialChartRow{
        display: none;
    } */
    
}

/* ============= Study In Shenzhen =============*/

#studyPhone {
    background-color: white;
    box-shadow: 0px 4px 20px 10px rgba(0,0,0,0.15);
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#studyPhoneDisplay {
    background-color: #fff3d9;
    margin: auto;
    margin-bottom: 1.6em;
    height: 475px;
    width: 95%;
    border-radius: 1em 1em 0em 0em;
}

#studytitle {
    text-align: center;
    margin: auto;
}

#studytitle span{
    color: #2c2c2c;
    font-size: 55px;
    font-weight: 600;
}

#studyInSZCard {
    background-color: white;
    padding: 3em 4em;
}

#redribbon2 {
    max-height: 350px;
    height: 50%;
}

@media screen and (max-width: 991px) {
    #studytitle span{
        font-size: 10vw;
        font-weight: 600;
    }

    #Study .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #studyInSzCard {
        order: 2;
    }
    #studyPhone {
        order: 1;
        width: 306.5px;
    }
}