* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@keyframes dd-slide-about {
  from {
    max-height: 0px;
  }
  to {
    max-height: 160px;
  }
}

@keyframes dd-slide-info {
  from {
    max-height: 0px;
  }
  to {
    max-height: 300px;
  }
}

#dd-about.show {
  border-radius: 1em;
  background-color: #fff3d9;
  animation: dd-slide-about 0.5s ease;
  overflow: hidden;
}

#dd-info.show {
  border-radius: 1em;
  background-color: #fff3d9;
  animation: dd-slide-info 0.5s ease;
  overflow: hidden;
}

.collapse:not(.show) {
  display: inherit;
}

.navbar {
  padding: 0px;
}

.dropdown-item {
  /* color: white; */
  color: black;
  font-size: 15px;
  padding: 10px 70px;
  padding-left: 20px;
}

.navbar-brand {
  position: absolute;
  width: 265px;
  height: 50px;
  left: 60px;
  top: 20px;
}

.navbar .nav-item {
  margin: 5px 6px;
  padding: 7px 7px;
}

.dropdown-menu li:hover {
  display: block;
  color: #ec2429;
  font-weight: 300;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
}

.dropdown-menu {
  border: 0px;
  padding: 20px 0px;
}

.logo-ppit {
  width: 100px;
  margin-right: 2em;
}

.mobile-nav-links {
  position: inherit;
  z-index: 0;
  margin-bottom: auto;
}

#mainNavbarContainer {
  padding: 1em 2em;
}

@media screen and (max-width: 991px) {
  .mobile-nav-links {
    position: fixed;
    top: 0em;
    left: 0px;
    background: #ec2429;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    clip-path: circle(90px at 100% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    --ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mobile-nav-links::-webkit-scrollbar {
    display: none;
  }

  .mobile-nav-links.open {
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path: circle(1200px at 90% -10%);
    pointer-events: all;
    overflow: scroll;
  }

  li.fade {
    opacity: 1;
  }

  .navbar-nav .nav-item span {
    font-size: 2em;
  }

  .navbar-nav {
    margin-top: 10vh;
    margin-bottom: 12vh;
    text-align: center;
  }

  .nav-link-span:after {
    display: none;
  }

  .dropdown-toggle::after {
    border-top: 0.6em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
  }
}

.menu-btn {
  position: fixed;
  top: 40px;
  right: 45px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.menu-btn-burger {
  width: 25px;
  height: 5px;
  background: black;
  border-radius: 7px;
  transition: all 0.7s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 5px;
  background: black;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-8px);
}

.menu-btn-burger::after {
  transform: translateY(8px);
}

.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-link-span {
  font-weight: 600;
  color: black;
  position: relative;
}

.nav-link-span:after {
  border-radius: 0.3em;
  background-color: #fff3d9;
  content: "";
  height: 45%;
  position: absolute;
  left: 0;
  margin-left: -0.35rem;
  top: 60%;
  width: calc(100% + 0.7rem);
  z-index: -1;

  /* transition: background-color 1000ms linear; */
}

.nav-link:hover > .nav-link-span:after {
  background-color: #ad310b;
}
