* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.container-fluid {
  max-width: 100vw;
  width: 100vw;
  background-color: #323232;
  margin: 0px;
}

.row {
  margin: 0px;
}

ul {
  color: #c2c2c2;
}

h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 10px;
}

.top-footer {
  padding: 2em;
}

.bottom-footer {
  background-color: #000000;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.bottom-footer p {
  font-size: small;
  color: #9e9e9e;
  margin-top: 1.5em;
}

.contact-banner {
  display: flex;
  text-align: center;
  border: 2px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0.6em;
}

.contact-banner h2 {
  font-size: 14px;
  margin-bottom: -0.2em;
}

.contact-banner i {
  margin-right: 0.3em;
}

.li-whatsapp:hover,
.li-whatsapp:hover h2,
.li-whatsapp:hover i {
  background-color: #25d366;
  border-color: #25d366;
  color: white;
}

.li-email:hover h2,
.li-email:hover,
.li-email:hover i {
  background-color: #ed254e;
  border-color: #ed254e;
  color: white;
}

.contact-us-ul a {
  text-decoration: none;
}

.social-links a {
  font-size: 20px;
  display: inline-block;
  background: #000000;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  text-decoration: none;
}

.social-links .icon-lin:hover {
  background-color: #0077b5;
  text-decoration: none;
}

.social-links .icon-fb:hover {
  background-color: #177bf2;
  text-decoration: none;
}

.social-links .icon-yt:hover {
  background-color: #e62117;
  text-decoration: none;
}

.social-links .icon-dc:hover {
  background-color: #7289da;
  text-decoration: none;
}

.social-links .icon-ig:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  text-decoration: none;
}

.social-links a:hover i {
  color: white;
}

i {
  color: #a9a9a9;
}

.discord {
  filter: invert(73%) sepia(1%) saturate(0%) hue-rotate(209deg) brightness(93%) contrast(89%);
}

.icon-circle {
  margin: 0 10px;
}
