* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.form-title {
    margin-left: -1px;
    color: #2c2c2c;
}

.form-title span {
    font-weight: 600;
    font-size: 65px;
}

.form-text {
    color: #2c2c2c;
    max-width: 75%;
    margin: auto;
    padding-top: 1em;
}

.detail-table td {
    padding: 0.2em 0px;
}

.detail-icon-col {
    padding-right: 0.75em !important;
}

h5 {
    font-size: 1.6em;
}

#form-description ul {
    list-style-type: none;
    padding-left: 0;
}

.highlight span {
    position: relative;
    z-index: 3;
}

.highlight span:after {
    border-radius: 0.5em;
    background-color: #fff3d9;
    content: "";
    height: 30%;
    position: absolute;
    left: 0px;
    margin-left: -0.2em;
    top: 60%;
    width: calc(100% + 0.4em);
    z-index: -1;
}

/* ======= Form Box ======== */

#form-box .inbox-form, #msg-box {
    padding: 30px;
    background: #fff3d9;
    border-radius: 10px;
    box-shadow: 0px 7px 20px 3px rgba(0, 0, 0, 0.25);
}

#msg-box {
    margin-bottom: 4em;
}

#form-box {
    position: relative;
    z-index: 10;
}

#gray {
    position: absolute;
    top: 3em;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: calc(100% - 6.0em);
    border-radius: 10px;
}

#closedMsg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    color: white;
    font-size: 1.5em;
    width: 75%;
    margin: auto;
    transform: translateX(-50%) translateY(-50%);
    text-rendering: optimizeLegibility;
    text-align: center;
}

#validatedSend {
    padding: 0.6em 1.2em;
    margin-bottom: 0.5em;
    color: white;
    background-color: #eb1b24;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
}

#validatedSend:hover {
    background-color: #be1018;
}

#form-box .inbox-form .form-group {
    padding-bottom: 1.5em;
}

#form-box .inbox-form input,
#form-box .inbox-form textarea {
    border-radius: 4;
    box-shadow: none;
    font-size: 18px;
}

#form-box #inp-Referral1, #form-box #inp-Referral2, #form-box #inp-Referral3 {
    padding: 30px;
}

#form-box .inbox-form button[type="submit"] {
    margin-top: 17px;
    background: rgb(16, 16, 48);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

#form-box .inbox-form button[type="submit"]:hover {
    background: #EC2429;
}

table td {
    vertical-align: top;
}

#inp-Lainnya1 {
    border: 0px;
    padding: 0px;
    background-color: inherit;
}

#inp-Lainnya1:focus {
    outline: none;
}

.requiredField {
    color: red;
}

.errorInputMsg {
    font-size: 0.9em;
    color: red;
}

/* Custom Checkbox */
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
}
.control input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: white;
    border: 2px solid #000000;
    border-radius: 0px;
}
.control span {
    line-height: 30px;
}
.control #inp-Lainnya1 {
    line-height: 30px;
    width: 100%;
}
.control:hover input[type="checkbox"] ~ .control_indicator,
.control input[type="checkbox"]:focus ~ .control_indicator {
    background: white;
}

.control input[type="checkbox"]:checked ~ .control_indicator {
    background: #0091ff;
}

.control input[type="checkbox"]:disabled ~ .control_indicator {
    background: white;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input[type="checkbox"]:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 7px;
    top: -2px;
    width: 8px;
    height: 20px;
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
}
.control-checkbox input[type="checkbox"]:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    margin-left: -0.8rem;
    margin-top: -0.75rem;
    background: #0091ff;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input[type="checkbox"] + .control_indicator::before {
    animation: s-ripple 500ms ease-out;
}
.control-checkbox input[type="checkbox"]:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

/* Custom CSS Return */

@media screen and (max-width:1024px) {
    .highlight span:after {
        display: none;
    }
}

@media screen and (max-width:767px) {
    #mainNavbarContainer {
        padding: 0.5em;
    }

    .menu-btn {
        transform: translateX(-25%) translateY(250%);
        top:30px;
        right: 30px;
    }

    .menu-btn-burger {
        transform: scale(1.5);
    }

    .form-title span {
        font-size: 1.7em;
    }

    .detail-table td {
        padding: 0.2em 0px;
        line-height: 1.5em;
    }

    .transferQR {
        width: 100%;
    }

    #validatedSend {
        font-size: 1em;
    }
}